services/EmailWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://bpms.intalio.com/tools/webservices/email" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://bpms.intalio.com/tools/webservices/email">
   <wsdl:documentation>
<imported:imported xmlns:imported="http://www.intalio.com/designer/remote-services-import" imported:importTime="2015-05-28T15:36:26-0400" imported:sourceURI="http://bpms.local:8080/intalio/ode/processes/EmailWS?wsdl" imported:baseImportDir="BPMS_DEMO/services" imported:isRootImport="true" imported:isIndented="true"/>EmailWS</wsdl:documentation>
   <wsdl:types>
      <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://bpms.intalio.com/tools/webservices/email">
         <xsd:element name="EmailMessage" type="ns0:EmailMessageType"/>
         <xsd:element name="EmailWithXMLBody" type="ns0:EmailMessageType"/>
         <xsd:element name="EmailWithTextBody" type="ns0:TextEmailMessageType"/>
         <xsd:element name="Success" type="xsd:boolean"/>
         <xsd:complexType name="EmailMessageType">
            <xsd:sequence>
               <xsd:element name="From" type="xsd:string"/>
               <xsd:element maxOccurs="unbounded" name="To" type="xsd:string"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="Cc" type="xsd:string"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="Bcc" type="xsd:string"/>
               <xsd:element name="Subject" type="xsd:string"/>
               <xsd:element minOccurs="0" name="Body">
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:any/>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TextEmailMessageType">
            <xsd:sequence>
               <xsd:element name="From" type="xsd:string"/>
               <xsd:element maxOccurs="unbounded" name="To" type="xsd:string"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="Cc" type="xsd:string"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="Bcc" type="xsd:string"/>
               <xsd:element name="Subject" type="xsd:string"/>
               <xsd:element name="Body" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="emailFault">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="reason" type="xsd:string"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="sendEmailWithXMLBody">
      <wsdl:part name="InputParameters" element="ns0:EmailWithXMLBody"/>
   </wsdl:message>
   <wsdl:message name="sendResponse">
      <wsdl:part name="Response" element="ns0:Success"/>
   </wsdl:message>
   <wsdl:message name="emailFault">
      <wsdl:part name="emailFault" element="ns0:emailFault"/>
   </wsdl:message>
   <wsdl:message name="sendRequest">
      <wsdl:part name="InputParameters" element="ns0:EmailMessage"/>
   </wsdl:message>
   <wsdl:message name="sendEmailWithTextBody">
      <wsdl:part name="InputParameters" element="ns0:EmailWithTextBody"/>
   </wsdl:message>
   <wsdl:portType name="EmailWSPortType">
      <wsdl:operation name="sendEmailWithXMLBody">
         <wsdl:input message="ns0:sendEmailWithXMLBody" wsaw:Action="urn:sendEmailWithXMLBody"/>
         <wsdl:output message="ns0:sendResponse" wsaw:Action="http://bpms.intalio.com/tools/webservices/email/EmailWSPortType/sendEmailWithXMLBodyResponse"/>
         <wsdl:fault message="ns0:emailFault" name="emailFault" wsaw:Action="http://bpms.intalio.com/tools/webservices/email/EmailWSPortType/sendEmailWithXMLBody/Fault/emailFault"/>
      </wsdl:operation>
      <wsdl:operation name="send">
         <wsdl:input message="ns0:sendRequest" wsaw:Action="urn:send"/>
         <wsdl:output message="ns0:sendResponse" wsaw:Action="http://bpms.intalio.com/tools/webservices/email/EmailWSPortType/sendResponse"/>
         <wsdl:fault message="ns0:emailFault" name="emailFault" wsaw:Action="http://bpms.intalio.com/tools/webservices/email/EmailWSPortType/send/Fault/emailFault"/>
      </wsdl:operation>
      <wsdl:operation name="sendEmailWithTextBody">
         <wsdl:input message="ns0:sendEmailWithTextBody" wsaw:Action="urn:sendEmailWithTextBody"/>
         <wsdl:output message="ns0:sendResponse" wsaw:Action="http://bpms.intalio.com/tools/webservices/email/EmailWSPortType/sendEmailWithTextBodyResponse"/>
         <wsdl:fault message="ns0:emailFault" name="emailFault" wsaw:Action="http://bpms.intalio.com/tools/webservices/email/EmailWSPortType/sendEmailWithTextBody/Fault/emailFault"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="EmailWSSOAP11Binding" type="ns0:EmailWSPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="sendEmailWithXMLBody">
         <soap:operation soapAction="urn:sendEmailWithXMLBody" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="emailFault">
            <soap:fault use="literal" name="emailFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="send">
         <soap:operation soapAction="urn:send" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="emailFault">
            <soap:fault use="literal" name="emailFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="sendEmailWithTextBody">
         <soap:operation soapAction="urn:sendEmailWithTextBody" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="emailFault">
            <soap:fault use="literal" name="emailFault"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="EmailWS">
      <wsdl:port name="EmailWSSOAP11port_http" binding="ns0:EmailWSSOAP11Binding">
         <soap:address location="http://bpms.local:8080/intalio/ode/processes/EmailWS.EmailWSSOAP11port_http/"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>