schemas/products_db.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><element name="iob_response_root"><complexType><sequence><element name="iob_element" maxOccurs="unbounded"><complexType><sequence><element name="__object" type="string"/><element name="dev_family"><complexType><sequence><element name="raw" type="string"/><element name="uuid" type="string"/><element name="identifier" type="string"/><element name="name" type="string"/></sequence></complexType></element><element name="dev_product_id"><complexType><sequence><element name="raw" type="string"/></sequence></complexType></element><element name="dev_name"><complexType><sequence><element name="raw" type="string"/></sequence></complexType></element><element name="io_uuid"><complexType><sequence><element name="raw" type="string"/></sequence></complexType></element><element name="dev_price"><complexType><sequence><element name="raw" type="string"/><element name="value" type="float"/><element name="symbol" type="string"/><element name="position" type="string"/><element name="precision" type="integer"/><element name="alphabetic_code" type="string"/></sequence></complexType></element></sequence></complexType></element></sequence></complexType></element></schema>